<odoo>

    <menuitem id="menu_hr_hospital_root"
              name="Hospital"
              sequence="10"
              web_icon="hr_hospital,static/description/icon.png"/>

    <menuitem id="menu_hr_hospital_operations"
              name="Operations"
              parent="menu_hr_hospital_root"
              sequence="10"/>

</odoo>
